<div class="flex justify-center">
  <form
    (ngSubmit)="submitRegister()"
    #customForm="ngForm"
    class="p-4 mt-20 rounded-lg border m-auto w-1/3"
  >
    <h1 class="text-center text-xl">Register</h1>
    <div class="my-5 w-full">
      <label for="email">Email</label>
      <input
        [(ngModel)]="registerForm.email"
        #email="ngModel"
        name="email"
        type="email"
        id="email"
        class="p-2 rounded w-full border text-sm"
        placeholder="Email Address"
        required="true"
      />
    </div>
    <div
      *ngIf="email.invalid && (email.touched || email.dirty)"
      class="p-2 bg-red-300 text-red-700 rounded"
    >
      Email is not valid
    </div>
    <div class="my-5 w-full">
      <label for="password">Password</label>
      <input
        [(ngModel)]="registerForm.password"
        #password="ngModel"
        name="password"
        type="password"
        id="password"
        class="p-2 rounded w-full border text-sm"
        placeholder="Password"
        required="true"
      />
    </div>
    <div
      *ngIf="password.invalid && (password.touched || password.dirty)"
      class="p-2 bg-red-300 text-red-700 rounded"
    >
      Password is not valid
    </div>
    <div class="my-5 w-full">
      <label for="confirm_password">Confirm Password</label>
      <input
        [(ngModel)]="registerForm.confirmPassword"
        #confirmPassword="ngModel"
        name="confirmPassword"
        type="text"
        id="confirm_password"
        placeholder="Password"
        class="p-2 rounded w-full border text-sm"
        required="true"
      />
    </div>
    <div
      *ngIf="
        confirmPassword.invalid &&
        (confirmPassword.touched || confirmPassword.dirty)
      "
      class="p-2 bg-red-300 text-red-700 rounded"
    >
      Password is not valid
    </div>
    <div class="my-5 w-full">
      <button
        [disabled]="customForm.form.invalid"
        type="submit"
        class="p-2 w-full bg-orange-300 text-white rounded hover:bg-orange-500"
      >
        <ng-container [ngSwitch]="isRegisterLoading()">
          <span *ngSwitchCase="true">Loading</span>
          <span *ngSwitchCase="false">Submit</span>
        </ng-container>
      </button>
    </div>
  </form>
</div>
