<nav class="flex justify-between p-4 bg-orange-400 text-white">
  <div>
    <a routerLink="">Books</a>
  </div>
  <div>
    <a class="mx-4" routerLink="/shopping-cart" class="mx-4">Shopping Cart</a>

    <ng-container [ngSwitch]="isAuthenticated()">
      <ng-container *ngSwitchCase="false">
        <a class="mx-4" routerLink="/login" class="mx-4">Login</a>
        <a class="mx-4" routerLink="/register" class="mx-4">Register</a>
      </ng-container>
      <ng-container *ngSwitchCase="true">
        <button (click)="onSingOut()" class="mx-4">Logout</button>
      </ng-container>
    </ng-container>
  </div>
</nav>
<div class="p-4">
  <router-outlet></router-outlet>
</div>
